body {
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "Montserrat";
}
.container {
  margin-top: 250px;
  text-align: center;
}
#hex {
  display: block;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  margin: 10px;
}
.container button {
  background: transparent;
  outline: none;
  color: white;
  border: 3px solid;
  font-size: 20px;
}
